

.jumbotron {
    width: 1250px;
    background-color: white;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-bottom:5;
    
    font-family: "Fugaz One";
}

h1 {
    font-family: "Fugaz One";
    font-size: 1500%;
    text-align: center; 
    color:rgb(240, 79, 50);
    /* text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000; */
    margin-bottom: 25px;
}

p {
    font-family: 'Montserrat';
    text-align: center;
    font-size: 175%;
    color: rgb(240, 79, 50);
    font-weight: bold;
}

