.card{
    width:100%;
    margin-left: 15%; 
    margin-top:15px;
    margin-bottom: 15px; 
    position: relative;
}

.taskHeader{
    border-right: solid 2px rgb(240, 49, 15);
    padding-bottom: 0px;
    margin-top: 5px;
}

.taskPoints {
    margin-top: 5px;
}

.page__toggle{
position: absolute;

}

.btoggle{
    --uiToggleSize: var(--btoggleSize, 20px);
    --uiToggleIndent: var(--btoggleIndent, .4em);
    --uiToggleBorderWidth: var(--btoggleBorderWidth, 2px);
    --uiToggleColor: var(--btoggleColor, #000);
    --uiToggleDisabledColor: var(--btoggleDisabledColor, #868e96);
    --uiToggleBgColor: var(--btoggleBgColor, #fff);
    --uiToggleArrowWidth: var(--toggleArrowWidth, 2px);
    --uiToggleArrowColor: var(--toggleArrowColor, #fff);
  
    display: inline-block;
    position: relative;
  }
  
  .btoggle__input{
    position: absolute;
    left: -99999px;
  }
  
  .btoggle__label{
    display: inline-flex;
    cursor: pointer;
    min-height: var(--uiToggleSize);
    padding-left: calc(var(--uiToggleSize) + var(--uiToggleIndent));
  }
  
  .btoggle__label:before, .btoggle__label:after{
    content: "";
    box-sizing: border-box;  
    width: 1em;
    height: 1em;
    font-size: var(--uiToggleSize);
  
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .btoggle__label:before{
    border: var(--uiToggleBorderWidth) solid var(--uiToggleColor);
    z-index: 2;
  }
  
  .btoggle__input:disabled ~ .btoggle__label:before{
    border-color: var(--uiToggleDisabledColor);
  }
  
  .btoggle__input:focus ~ .btoggle__label:before{
    box-shadow: 0 0 0 2px var(--uiToggleBgColor), 0 0 0px 4px var(--uiToggleColor);
  }
  
  .btoggle__input:not(:disabled):checked:focus ~ .btoggle__label:after{
    box-shadow: 0 0 0 2px var(--uiToggleBgColor), 0 0 0px 4px var(--uiToggleColor);
  }
  
  .btoggle__input:not(:disabled) ~ .btoggle__label:after{
    background-color: var(--uiToggleColor);
    opacity: 0;
  }
  
  .btoggle__input:not(:disabled):checked ~ .btoggle__label:after{
    opacity: 1;
  }
  
  .btoggle__text{
    margin-top: auto;
    margin-bottom: auto;
  }
  
  /*
  The arrow size and position depends from sizes of square because I needed an arrow correct positioning from the top left corner of the element btoggle
  */
  
  .btoggle__text:before{
    content: "";
    box-sizing: border-box;
    width: 0;
    height: 0;
    font-size: var(--uiToggleSize);
  
    border-left-width: 0;
    border-bottom-width: 0;
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: var(--uiToggleArrowColor);
  
    position: absolute;
    top: .5428em;
    left: .2em;
    z-index: 3;
  
    transform-origin: left top;
    transform: rotate(-40deg) skew(10deg);
  }
  
  .btoggle__input:not(:disabled):checked ~ .btoggle__label .btoggle__text:before{
    width: .5em;
    height: .25em;
    border-left-width: var(--uiToggleArrowWidth);
    border-bottom-width: var(--uiToggleArrowWidth);
    will-change: width, height;
    transition: width .1s ease-out .2s, height .2s ease-out;
  }
  
  /*
  =====
  LEVEL 2. PRESENTATION STYLES
  =====
  */
  
  /* 
  The demo skin
  */
  
  .btoggle__label:before, .btoggle__label:after{
    border-radius: 1px;
  }
  
  /* 
  The animation of switching states
  */
  
  .btoggle__input:not(:disabled) ~ .btoggle__label:before,
  .btoggle__input:not(:disabled) ~ .btoggle__label:after{
    opacity: 1;
    transform-origin: center center;
    will-change: transform;
    transition: transform .2s ease-out;
  }
  
  .btoggle__input:not(:disabled) ~ .btoggle__label:before{
    transform: rotateY(0deg);
    transition-delay: .2s;
  }
  
  .btoggle__input:not(:disabled) ~ .btoggle__label:after{
    transform: rotateY(90deg);
  }
  
  .btoggle__input:not(:disabled):checked ~ .btoggle__label:before{
    transform: rotateY(-90deg);
    transition-delay: 0s;
  }
  
  .btoggle__input:not(:disabled):checked ~ .btoggle__label:after{
    transform: rotateY(0deg);
    transition-delay: .2s;
  }
  
  .btoggle__text:before{
    opacity: 0;
  }
  
  .btoggle__input:not(:disabled):checked ~ .btoggle__label .btoggle__text:before{
    opacity: 1;
    transition: opacity .1s ease-out .3s, width .1s ease-out .5s, height .2s ease-out .3s;
  }
  
  /*
  =====
  LEVEL 3. SETTINGS
  =====
  */
  
  .btoggle{
    --btoggleColor: rgb(238, 92, 67);
    --btoggleBgColor: rgb(240, 49, 15);
    --btoggleSize: 30px;
    margin-left: 17px;
    margin-top: 17px;
  }
  
